+++
title = "{{ i18n "releases.html-title" }}"
description = "{{ i18n "releases.html-meta-description" }}"
keywords = "{{ i18n "releases.html-meta-keywords" }}"
+++

<div class="row row-spacer">

  <div class="col-md-4">
    <a class="release-button beta-button" href="http://beta.openlifter.com">
      <div class="release-version">
        Run OpenLifter <span>Beta</span>
      </div>
    </a>
    <div class="release-date">{{ i18n "releases.in-development" }}</div>
  </div>
  <div class="col-md-8">
    <h4>{{ i18n "releases.major-changes-in-the-next-version" }}</h4>
    <ul class="laundry-list">
      <li>Added translations for Chinese (Simplified), Croatian, Dutch, German, Esperanto, Lithuanian, Portuguese, Russian, Spanish, and Turkish.</li>
      <li>The current attempt is much more visually apparent.</li>
      <li>The current lifter's Instagram can be displayed for the audience.</li>
      <li>Meets run in pounds now export results in pounds.</li>
      <li>Age can be set on the Registrations page and imported by CSV.</li>
      <li>Registrations can be exported to CSV.</li>
    </ul>
  </div>

  <div class="col-md-4">
    <a class="release-button" href="/releases/1.0.1/">
      <div class="release-version">
        Run OpenLifter <span>1.0.1</span>
      </div>
    </a> 
    <div class="release-date">August 5, 2019</div>
  </div>
  <div class="col-md-8">
    <h4>Major Changes in Version 1.0.1</h4>
    <ul class="laundry-list">
      <li>Fixed a display issue with the Lifting table when the Best Lifter formula is set to "Total" <a href="https://gitlab.com/openpowerlifting/openlifter/issues/181">(#181)</a>. Reported by Matt Pearce.</li>
    </ul>
  </div>

  <div class="col-md-4">
    <a class="release-button" href="/releases/1.0/">
      <div class="release-version">
        Run OpenLifter <span>1.0</span>
      </div>
    </a>
    <div class="release-date">July 31, 2019</div>
  </div>
  <div class="col-md-8">
    <h4>Major Changes in Version 1.0</h4>
    <ul class="laundry-list">
      <li>{{ i18n "releases.changelog-initial-public-release" }}</li>
    </ul>
  </div>
</div>
